<section>
  <div class="card" [class.active]="characterTurn">
    <div class="card__border"></div>
    <div class="card__border-line"></div>
    <div class="card__inner">
      <div class="card__img">
        <div class="img__athlete">
          <img style="max-height: 100px" [src]="images[character.index]" alt="Charles Leclerc">
        </div>
      </div>
      <div class="card__text">
        <div [style.--bg-color]="!isKilled ? 'green' : 'red'" class="card__type tracking-widest" style=": hsl(40, 100%, 50%);">
          {{(isKilled) ? "Killed" : (turn > character.index) ? 'Survived' : 'Alive'}}
        </div>
        <h1 class="name">{{character.name}}</h1>
        <p class="points"></p>
      </div>
    </div>
  </div>
</section>
