<section>
  <div class="card" [class.active]="characterTurn">
    <div class="card__border"></div>
    <div class="card__border-line"></div>
    <div class="card__inner">
      <div class="card__img">
        <div class="img__athlete">
          <img style="max-height: 100px" [src]="images[character.index]" alt="Charles Leclerc">
        </div>
      </div>
      <div class="card__text">
        <div class="card__type" style="--bg-color: hsl(40, 100%, 50%);">TD</div>
        <h1 class="name">{{character.name}}</h1>
        <p class="points">36 PTS</p>
      </div>
    </div>
  </div>
</section>
