<game-layout>
  <div class="bg-black w-screen h-screen absolute overflow-hidden align-center justify-center flex items-center " [style.visibility]="resultBannerOpacity ? 'visible' : 'hidden' " [style.opacity]="resultBannerOpacity" >
    <div class=" relative z-20">
      <p class="text-amber-50 text-9xl font-Corleone">{{participants[turn].name + " Killed"}}</p>
      <main-btn class="text-white mt-4" (click)="goToMenu()" [btn]="{title:'Back To Menu'}"></main-btn>
    </div>
    <img alt="blood" src="assets/blood.png" class="absolute"/>
  </div>
  <div class="grid md:grid-cols-4 sm:grid-cols-1">
    <div id="character-dock" class="col-span-1 p-3 w-full max-h-screen overflow-scroll text-slate-200 h-screen bg-slate-700">
      <h1 class="text-4xl text-center tracking-widest">Players Dock : </h1>
      <div *ngFor="let person of participants">
        <app-character-card [id]="'character-' + person.index" [characterTurn]="turn === person.index" [isKilled]="!person.status" [character]="person"></app-character-card>
      </div>
    </div>
    <div class="col-span-3 w-full text-slate-200 flex justify-center content-center items-center h-screen bg-slate-700/80">
      <div>
        <main-btn (click)="Shoot()" [btn]="{title:'shoot'}"></main-btn>
      </div>
    </div>
  </div>
</game-layout>
