.main-section{
  width: 100vw;
  height: 100vh;
  background-image: url("../static/images/main-background.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
