@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: GodFather;
  src: url(/assets/fonts/TheGodfather.ttf);
}
@font-face {
  font-family: Corleone;
  src: url(/assets/fonts/Corleone.ttf);
}
body{
  margin: 0 !important;
  font-family: 'GodFather', serif;
}
